.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

html{
    font-size: 14px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
.page-wrapper{
    border: 1px solid #efefef;
    box-shadow: 5px 5px 5px #888888;
    margin: 0 auto 30px;
    max-width: 1100px;
    width: 100%;
}
.logo {
    margin: 3%;
    float: left;
    width: 94%;
    box-shadow: 0 0 2px 2px #efefef;
}
.logo .logo-img{
    float: left;
    width: 20%;
}
.logo .logo-img img{
    width: 100%;
}
.logo .logo-text{
    float: left;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #222;
    margin-top: 3%;
}
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #efefef;
    border-radius: 10px;
    background: #efefef;
    color: black;
    margin-right: 5px;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.container {
    border: 1px solid #ddd;
    padding: 2%;
    margin: 3%;
    border-radius: 10px;
}
.container a {
    color: #222;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 15px;
}
.container input {
    background-color: #efefef;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.form-element{
    margin: 1.5%;
}
.form-element label{
    min-width: 110px;
    display: inline-block;
}
.help-toggler,
.feed-body-toggler{
    color: #ff6666;
    text-align: center;
    cursor: pointer;
    background: #efefef;
}
.feed-body-toggler{
    float: left;
    width: 90%;
}
.feed-body{
    float: left;
    width: 90%;
    margin: 2% 5%;
}
.feed.box{
    float: left;
    width: 100%;
}
.feed.box .feed-image{
    float: left;
    width: 30%;
}
.feed.box .feed-image img{
    width: 94%;
    margin: 3%;
}
.feed.box .feed-details{
    float: left;
    width: 70%;
}
.category,
.category-label{
    float: left;
}
.category-label{
    padding: 5px 0 3px;
}
.category{
    border: 3px solid #efefef;
    border-radius: 10px;
    margin: 2px 5px;
    padding: 2px 10px;
}
.help,
.feed-body,
.home,
.error{
    line-height: 2rem;
}
.help,
.feed-body{
    display: none;
}
.feed-body img{
    max-width: 100% !important;
}
@media screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }
    .navigation {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
    }
    .navigation a{
        padding: 2%;
    }
    .logo .logo-img{
        float: left;
        width: 30%;
    }
    .feed.box .feed-image,
    .feed.box .feed-details{
        width: 100%;
    }
}